*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
width: 100%;
height: 10vh;
background-color: rgb(255, 255, 255);
position: fixed;
left: 0;
top: 0;
z-index: 1000;
display: flex;
align-items: center;
padding: 0 460px;
}
.nav{
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}



.absParent{
  position: relative;
  width: 100%;
  height: 100vh;
  
}

.abs{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
text-align: center;
gap: 30px;
  position: absolute;
  top: 0;
  left: 0;

}
.parent{
  width: 100%;
  height: 200vh;
  background-color: rgba(95, 158, 160, 0.634);
  margin-top: 100px;
  display: flex;
  justify-content: end;
}

.absParent video{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.abs h1{
line-height: 1em;
font-size: 130px;

}
.abs p{
  line-height: 1.4em;
  font-size: 25px;
}
/* .abs button{
padding: 13px 22px;
background-color: black;
color: aliceblue;
border: 5px;
} */
nav{
  margin-top: 100px;
}

.chatBtn{
  position: fixed;
  bottom: 0;
  right: 50px;
  background-color: black;
  color: white;
  padding: 15px 45px;
}
.butt{
  padding: 13px 22px ;
  background-color: black ;
  color: aliceblue;
  border: 5px ;
  position: static ;
}
